---
title: "Contact | Zeman & Womble, LLP | Brooklyn, NY"
description: "Turn to Zeman & Womble, LLP, for the help you need against criminal charges and civil rights violations. Call 718-514-9100."
---

{% include header.html %}

    <div class="container-page">
        <div class="container-columns">
            <div class="container-column-main">
                <div class="single-column" role="main">

                    <h1 class="page-title">
                        Contact
                    </h1>
                    <article class="content" id="content">
                        <div class="content-0">
                            <p>To schedule a free consultation, please complete the form below.</p>
                            <div class="short-form no-leadin">
                                <h4 class="title-short-form">Contact us for a FREE consultation</h4>
                                <div id="containerIntakeFormShortAutofill" >
                                    {% include contact-form.html %}
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>

{% include footer.html %}
