---
title: "Brooklyn, NY Attorney | New York City Criminal Defense Lawyer"
description: "Zeman & Womble, LLP. We Fight the Law. For You. Effective advocacy for criminal charges and civil rights violations. Call 718-514-9100."
---

{% include header.html %}

    <div class="Home">
        <div class="banner-wrap">
            <div class="banner-outer">
                <img src="/assets/images/homepage-banner-mobile.jpg" class="mobile-banner" />
                <div class="banner">
                    <div class="banner-text">
                        <div class="tagline">We Fight The Law.</div>
                        <p class="tagline-text"><strong><a href="/Criminal-Defense/">Criminal Defense.</a> <a href="/Civil-Rights.html">Civil Rights.</a></strong> At Zeman &amp; Womble, our attorneys have built their careers standing between you and the police. From arrest to trial, suit to settlement, let the experienced attorneys of Zeman &amp; Womble work for you. <br /><strong><a href="Contact.html" class="">Request a free consultation &#9656;</a></strong></p>
                    </div>         
                </div>
            </div>
        </div>
        <div class="bigger-blue">
            <a href="/Criminal-Defense/">Criminal Defense</a>
            <img src="/assets/images/brand.png">
            <a href="/Civil-Rights.html">Civil Rights</a>
        </div>
         <div class="column-attorneys-wrap">
            <div class="container-page">
                <h2 class="column-attorneys-title">The Attorneys 
                    <ul>
                        <li>
                            <a href="About/Benjamin-Zeman.html" class="no_under"><img src="/assets/images/attorney-zeman.png" /></a>
                            <a href="About/Benjamin-Zeman.html" class="no_under"><h4>Benjamin Zeman</h4></a>
                            <p>Benjamin Zeman’s flair for the dramatic and his uncanny ability to earn acquittals in the toughest cases have cemented his reputation as one of the best trial attorneys in New York City.</p>
                            <a href="About/Benjamin-Zeman.html" class="btn">Read More</a>
                        </li>
                        <li>
                            <a href="About/Ken-Womble.html" class="no_under"><img src="/assets/images/attorney-womble.png" /></a>
                            <a href="About/Ken-Womble.html" class="no_under"><h4>Ken Womble</h4></a>
                            <p>A tireless advocate, Ken Womble has more than a decade of experience fighting for the rights of his clients in the criminal, civil &amp; family courts of New York.</p>
                            <a href="About/Ken-Womble.html" class="btn">Read More</a>
                        </li>
                    </ul>
                </h2>
            </div>
        </div>
        <div class="column-wrap-3">
            <div class="container-page">
                <div class="container-columns">
                    <article class="content content-3">
                        <a href="Press.html" class="read-news">Press</a>
                        <h4 class="news-title">Our Work Makes Headlines</h4>
                        <div class="row">
                            <div class="logos">
                                <ul>
                                    <li><img src="/assets/images/news-tnyt.jpg" alt="The New York Times" /></li>
                                    <li><img src="/assets/images/news-cnn.jpg" alt="CNN" /></li>
                                    <li><img src="/assets/images/news-cbso.jpg" alt="CBSO" /></li>
                                    <li><img src="/assets/images/news-bf-news.jpg" alt="BuzzFeed News" /></li>
                                    <li><img src="/assets/images/news-thp.jpg" alt="The Huffington Post" /></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>         
        <div class="column-wrap-2">
            <div class="container-page">
                <div class="container-columns">
                    <h4 class="testimonial-title">Case Results</h4>
                    <div class="testimonial">
                        <p>In a court of law, there is no certainty. The guarantee that we provide is that no one will work harder for you. </p>
                        <a href="Case-Results.html">Click Here To Read Case Results</a>
                    </div>
                    <h4 class="testimonial-title">Testimonials</h4>
                    <div class="testimonial">
                        <h4>Mr. Zeman literally saved my life... </h4>
                        <p>The next day I was found not guilty and walked out of the courthouse a free man. </p>
                        <a href="Client-Stories.html">Read more Client Stories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-short-wrap">
            <div class="contact-short">
                <div class="short-block">
                    <a class="form-btn" href="Contact.html">
                        <img src="/assets/images/mail-icon.png" />Email Us For A Response
                    </a>
                    <div class="short-form">
                        <h4 class="title-short-form">Contact for a FREE consultation</h4>
                        <div id="containerIntakeFormShortAutofill" >
                            {% include contact-form.html %}
                        </div>
                    </div>
                </div>
                <div class="contact-block">
                    <div class="brand-footer">
                        <img src="/assets/images/brand-footer.jpg" alt="" />
                    </div>
                    <div class="contact-info">
                        <div class="offices" id="offices" itemref="attorneyProfile attorney-list" itemscope="itemscope" itemtype="http://schema.org/Attorney">
                            <meta itemprop="name" content="Zeman & Womble, LLP"/>
                            <div class="office office-1 office-odd office-first office-last office-brooklyn" itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place">
                                <p>
                                    <span class="office-address" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
                                        <span itemprop="streetAddress" class="office-street-address"> 66 Willoughby St.</span> 
                                        <br/>
                                        <span class="office-locality" itemprop="addressLocality">Brooklyn</span>, 
                                        <span class="office-region" itemprop="addressRegion">NY</span>
                                        <span class="office-postal-code" itemprop="postalCode">11201</span>
                                    </span>
                                    <br/>
                                    <span class="office-phone office-phone-local office-phone-tracking">
                                        <span class="office-phone-label">Phone</span>: 
                                        <span class="office-phone-number" data-raw-number="7185149100">718-514-9100</span>
                                        <br/>
                                    </span>
                                    <a target="_blank" class="office-page-link" itemprop="map" href="https://www.google.com/maps/place/Moore+Zeman+Womble,+LLP/@40.692077,-73.9882166,17z/data=!4m5!3m4!1s0x89c25a4b9d98698f:0x8fdbcf6bdef5b0dd!8m2!3d40.692077!4d-73.9860279" target="_self">Brooklyn Law Office Map </a>
                                </p>
                            </div>
                        </div> 
                        <div class="phone-nos"> </div>
                    </div>
                    <div class="map-credit" style="margin: 0 auto">
                        <a target="_blank" class="office-page-link" itemprop="map" href="https://www.google.com/maps/place/Moore+Zeman+Womble,+LLP/@40.692077,-73.9882166,17z/data=!4m5!3m4!1s0x89c25a4b9d98698f:0x8fdbcf6bdef5b0dd!8m2!3d40.692077!4d-73.9860279" target="_self"><img src="/assets/images/office-map-preview.png" alt="office map preview" width="300" /></a>
                        <img src="/assets/images/credit-cards.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap">
            <footer class="footer-page">
                <section class="fine-print clearfix">
                    <p class="copyright">© 2017 by 
                        <a href="http://pview.findlaw.com/cmd/view?wld_id=4915749&amp;pid=1" target="_blank">Zeman & Womble, LLP</a>. All rights reserved. 
                        <a href="Disclaimer.html">Disclaimer</a> | 
                        <a href="Site-Map.html">Site Map</a>
                    </p>
                </section>
                <div class="ad-text">Attorney Advertising</div>
                <a class="back-to-top" href="#">
                    <img src="/assets/images/back-top.png" class="over" alt="Back to Top" />
                </a>
            </footer>
        </div>
    </div>

{% include footer.html %}
