<form name="Website Contact Form" action="/thanks" id="intakeFormShort" netlify>
    <fieldset>
        <p><label>Name*</label>
        <input type="text" name="Name" required /></p>                         
        <p><label>Email Address*</label>
        <input type="email" name="email" required /></p>
        <p><label>Phone</label>
        <input type="text" name="Phone" /></p>
        <p><label for="intakeFormShortMessage">Brief description of your legal issue*</label>
        <textarea name="Brief description of your legal issue" title="Brief description of your legal issue" rows="4" cols="15" required ></textarea></p>
        <p><label><input type="checkbox" name="disclaimer" value="accept" required /> I have read the <a href="/Disclaimer.html">disclaimer</a>*</label></p>
        <input type="image" src="..//assets/images/formSubmitShort.gif" name="Submit" value="Submit" class="submit over" alt="Submit" id="intakeFormShortAutofillSubmit"/>
        <small><em>*Required field | <a href="/Privacy-Policy.html">Privacy Policy</a></em></small>
    </fieldset>
</form>