<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<meta name="description" content="{{ page.description }}" />
		<meta http-equiv="content-language" content="en-US" />
	    <meta name="viewport" content="width=device-width" />
	    <link rel="dns-prefetch" href="http://ajax.googleapis.com/" />
        {% capture styles %}{% include core.scss %}{% endcapture %}
        <style>
            {{ styles | scssify }}
        </style>
	    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
	    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" />
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
	</head>
    <body class="design">
        <div class="header-wrap">
            <header class="header-page">
                <a href="/index.html" class="brand">
                    <img src="/assets/images/zw-logo-white.jpg" alt="Zeman & Womble, LLP - Attorneys at Law" class="brand-image" />
                </a>
                <div class="nav-social">
                    <div class="social">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/mzwlaw/" target="_blank">
                                    <img class="over" src="/assets/images/facebook-icon.png" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/moore-zeman-womble-llp" target="_blank">
                                    <img class="over" src="/assets/images/linkedin-icon.png" alt="Linkedin" />
                                </a>
                            </li>
                            <li class="item-last">
                                <a href="https://twitter.com/MZW_Legal" target="_blank">
                                    <img class="over" src="/assets/images/twitter-icon.png" alt="Twitter" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="container-nav-main">
                        <a href="#" class="btn-nav-main btn-togglebox" data-target="nav-main">
                            <img src="/assets/images/bg-nav-main-mobi.png" alt="" />Menu
                        </a>
                        <a href="/Contact.html" class="btn-contact">
                            <img src="/assets/images/map-pin.png" alt="" />Contact
                        </a>
                        <nav id="nav-main" class="nav-main" data-bp="650" role="navigation">
                            <ul>
                                <li><a href="/About/index.html">About</a></li>
                                <li><a href="/Press.html">Press</a></li>
                                <li><a href="/Case-Results.html">Results</a></li>
                                <li><a href="/Client-Stories.html">Client Stories</a></li>
                                <li class="mobile-only menu-header">Specialties:</li>
                                <li class=""><a href="/Criminal-Defense/">Criminal Defense</a></li>
                                <li class=""><a href="/Civil-Rights">Civil Rights</a></li>
                                <li class="mobile-only menu-header">The Attorneys:</li>
                                <li class="mobile-only"><a href="/about/Benjamin-Zeman/">Benjamin Zeman</a></li>
                                <li class="mobile-only"><a href="/about/Ken-Womble/">Ken Womble</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="cta">
                    <div class="cta-text">Call for a FREE consultation 24 hours a day, 7 days a week. 
                        <span class="cta-phone touchTel"><a href="tel:7185149100" class="gaEventTracker" data-cat="click-to-call" data-act="click" data-label="phone number in header">718-514-9100</a></span>
                    </div>
                </div>
            </header>
        </div>