<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<meta name="description" content="{{ page.description }}" />
		<meta http-equiv="content-language" content="en-US" />
	    <meta name="viewport" content="width=device-width" />
	    <link rel="dns-prefetch" href="http://ajax.googleapis.com/" />
	    <link rel="stylesheet" href="/assets/css/site.css" />
	    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
	    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" />
	    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900,700italic" rel="stylesheet" type="text/css" />
	    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css" />
	    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css" />
	    <link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet" type="text/css" />
	    <link rel="canonical" href="Case-Results.html" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.8.10/hyperform.css">
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
	</head>
    <body class="design">
        <div class="header-wrap">
            <header class="header-page">
                <a href="/index.html" class="brand">
                    <img src="/assets/images/zw-logo-white.jpg" alt="Zeman & Womble, LLP - Attorneys at Law" class="brand-image" />
                </a>
                <div class="nav-social">
                    <div class="social">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/mzwlaw/" target="_blank">
                                    <img class="over" src="/assets/images/facebook-icon.png" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/102762598550521628887/about" target="_blank">
                                    <img class="over" src="/assets/images/google-icon.png" alt="Google Plus" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/moore-zeman-womble-llp" target="_blank">
                                    <img class="over" src="/assets/images/linkedin-icon.png" alt="Linkedin" />
                                </a>
                            </li>
                            <li class="item-last">
                                <a href="https://twitter.com/MZW_Legal" target="_blank">
                                    <img class="over" src="/assets/images/twitter-icon.png" alt="Twitter" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="container-nav-main">
                        <a href="#" class="btn-nav-main btn-togglebox" data-target="nav-main">
                            <img src="/assets/images/bg-nav-main-mobi.png" alt="" />Menu
                        </a>
                        <a href="/Contact.html" class="btn-contact">
                            <img src="/assets/images/map-pin.png" alt="" />Contact
                        </a>
                        <nav id="nav-main" class="nav-main" data-bp="650" role="navigation">
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="/About/index.html">About</a></li>
                                <li><a href="/Press.html">Press</a></li>
                                <li><a href="/Case-Results.html">Case Results</a></li>
                                <li><a href="/Client-Stories.html">Client Stories</a></li>
                                <li class="itemLast item-last"><a href="/Contact.html">Contact</a></li>
                                <li class="togglebox-close">
                                    <a href="#" class="close" data-target="nav-main">
                                        <span class="close-btn">x </span> Close
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="cta">
                    <div class="cta-text">Call for a FREE consultation 24 hours a day, 7 days a week. 
                        <span class="cta-phone touchTel">718-514-9100</span>
                    </div>
                </div>
            </header>
        </div>