<div class="contact-wrap">
    <div class="contact-container">
        <div class="brand-footer">
            <img src="/assets/images/brand-footer.jpg" alt="" />
        </div>
        <div class="contact-info">
            <div class="offices" id="offices" itemref="attorneyProfile attorney-list" itemscope="itemscope" itemtype="http://schema.org/Attorney">
			    <div class="office office-1 office-odd office-first office-last office-brooklyn" itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place">
			        <p>
			            <span class="office-address" itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
			                <span itemprop="streetAddress" class="office-street-address"> 66 Willoughby St. 
			                    <br/>
			                </span>
			                <span class="office-locality" itemprop="addressLocality">Brooklyn</span>, 
			                <span class="office-region" itemprop="addressRegion">NY</span>
			                <span class="office-postal-code" itemprop="postalCode">11201</span>
			            </span>
			            <br/>
			            <span class="office-phone office-phone-local office-phone-tracking">
			                <span class="office-phone-label">Phone</span>: 
			                <span class="office-phone-number" data-raw-number="7185149100">718-514-9100</span>
			                <br/>
			            </span>
			            <a target="_blank" class="office-page-link" itemprop="map" href="https://www.google.com/maps/place/Moore+Zeman+Womble,+LLP/@40.692077,-73.9882166,17z/data=!4m5!3m4!1s0x89c25a4b9d98698f:0x8fdbcf6bdef5b0dd!8m2!3d40.692077!4d-73.9860279" target="_self">Brooklyn Law Office Map </a>
			        </p>
			    </div>
			</div> 
        </div>
    	<div class="map-credit">
        	<a target="_blank" class="office-page-link" itemprop="map" href="https://www.google.com/maps/place/Moore+Zeman+Womble,+LLP/@40.692077,-73.9882166,17z/data=!4m5!3m4!1s0x89c25a4b9d98698f:0x8fdbcf6bdef5b0dd!8m2!3d40.692077!4d-73.9860279" target="_self"><img src="/assets/images/office-map-preview.png" alt="office map preview" width="300" /></a>
        	<img src="/assets/images/credit-cards.png" alt="" />
        </div>
    </div>
</div>
<div class="footer-wrap">
    <footer class="footer-page">
        <section class="fine-print clearfix">
            <p class="copyright">©2017 by 
                <a href="http://pview.findlaw.com/cmd/view?wld_id=4915749&amp;pid=1" target="_blank">Zeman & Womble, LLP</a>. All rights reserved. 
                <a href="/Disclaimer.html">Disclaimer</a> | 
                <a href="/Site-Map.html">Site Map</a>
            </p>
        </section>
        <a class="back-to-top" href="#">
            <img src="/assets/images/back-top.png" class="over" alt="Back to Top" />
        </a>
    </footer>
</div>