{% include header.html %}

{% include thin-clouds.html %}
 
    <div class="container-page">
        <div class="container-columns">
            <div class="container-column-main">
                <div class="column-main" role="main">
    				{{ content }}
                </div>
            </div>
            <div class="column-side" role="complementary"> 
                <div class="short-form">
                    <h4 class="title-short-form">Contact us for a FREE consultation</h4>
                    <div id="containerIntakeFormShortAutofill" >
                        {% include contact-form.html %}
    				</div>
            	</div>
    		</div>
        </div>
    </div>

{% include thick-contact.html %}    

{% include footer.html %}

